In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding= "latin-1")

In [10]:
df.head(10)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
5,4,Algeria,2903,Vegetal Products,664,Food supply (kcal/capita/day),kcal/capita/day,2932.00,2958.00,2941.00,2921.00,2932.00
6,4,Algeria,2903,Vegetal Products,674,Protein supply quantity (g/capita/day),g/capita/day,67.14,67.38,67.37,66.11,67.10
7,4,Algeria,2903,Vegetal Products,684,Fat supply quantity (g/capita/day),g/capita/day,53.84,54.72,52.04,55.59,54.57
8,4,Algeria,2941,Animal Products,664,Food supply (kcal/capita/day),kcal/capita/day,444.00,421.00,431.00,421.00,390.00
9,4,Algeria,2941,Animal Products,674,Protein supply quantity (g/capita/day),g/capita/day,27.76,26.97,27.35,26.71,24.73

In [11]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [18]:
df['Element'].unique()

array(['Total Population - Both sexes', 'Domestic supply quantity',
       'Food supply (kcal/capita/day)',
       'Protein supply quantity (g/capita/day)',
       'Fat supply quantity (g/capita/day)', 'Production',
       'Import Quantity', 'Stock Variation', 'Export Quantity', 'Feed',
       'Seed', 'Losses', 'Processing', 'Other uses (non-food)',
       'Residuals', 'Food', 'Food supply quantity (kg/capita/yr)',
       'Tourist consumption'], dtype=object)

# Question 1
What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [6]:
total_missing = df["Y2014"].isnull().sum()
total_missing

1589

In [8]:
percentage_missing = (total_missing/len(df["Y2014"]))*100
percentage_missing = round(percentage_missing, 3)
percentage_missing

2.607

# Question 2
Given the following python code, what would the output of the code give?

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

In [9]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

# Question 3
What is the total Protein supply quantity in Madagascar in 2015?

In [ ]:
protein_supply_madagascar_2015 = df.loc[(df['Area] == 'Madagascar') & (df['Year'] == 2015), 'Protein_Supply_Quantity'].values[0]

# Question 4
What is the total sum of Wine produced in 2015 and 2018 respectively?

In [20]:
wine_production_2015_2018 = df[(df['Item'] == 'Wine') & (df['Element'] == 'Production')][['Y2015', 'Y2018']].sum()

In [21]:
wine_production_2015_2018

Y2015    1213.0
Y2018    1091.0
dtype: float64

# Question 5
Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [22]:
seventh_lowest_sum_2017 = df.groupby('Area')['Y2017'].sum().nsmallest(7).index[-1]
seventh_lowest_sum_2017

'Guinea-Bissau'

# Question 7
Consider the following list of tuples:

y = [(2, 4), (7, 8), (1, 5, 9)]

How would you assign element 8 from the list to a variable x?

In [24]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]
x

8

# Question 8
Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [25]:
processing_sum_2017 = df[df['Element'] == 'Processing']['Y2017'].sum()
processing_sum_2017

292836.0

# Question 10
Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [26]:
highest_sum_area_2017 = df.groupby('Area')['Y2017'].sum().idxmax()
highest_sum_area_2017

'Nigeria'

# Question 11
What is the total number of unique countries in the dataset?

In [34]:
total_unique_countries = df['Area'].nunique()
total_unique_countries

49

# Question 12

In [35]:
S = [['him', 'sell'], [90, 28, 43]]
output = S[0][1][1]
print(output)

e

# Question 18
What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [38]:
mean_2017 = df['Y2017'].mean()
std_2017 = df['Y2017'].std()

# Rounding to 2 decimal places
mean_2017_rounded = round(mean_2017, 2)
std_2017_rounded = round(std_2017, 2)

print("Mean for 2017:", mean_2017_rounded)
print("Standard deviation for 2017:", std_2017_rounded)

Mean for 2017: 140.92
Standard deviation for 2017: 1671.86

# Question 19
Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [42]:
year_highest_stock_sum = df[df['Element'] == 'Stock Variation'][['Y2014', 'Y2015', 'Y2016', 'Y2017','Y2018']].sum().idxmax()

In [45]:
year_highest_stock_sum

'Y2014'

'Y2014'